// Header
.header-container {
  width: 100vw;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: var(--header-background);

  .header-wrapper {
    padding: 1rem;

    img {
      height: 40px;
      cursor: pointer;
    }
  }

  .border {
    width: 100%;
    height: 2px;
    align-self: self-start;
    background-color: var(--color-pink);
  }
}

// Marquee
.marquee-container {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  gap: 3rem;
  overflow: hidden;
  white-space: nowrap;

  h1 {
    font-size: 48px;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    letter-spacing: 1px;
    animation: move-rtl 8000ms linear infinite;
    animation-timeline: scroll();
  }
}

// Courses
.courses-section-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h1 {
        font-size: 4.688rem;
      }

      p {
        font-size: 1.375rem;
        font-weight: 300;
        color: var(--color-pink);
      }
    }

    nav {
      ul {
        display: flex;
        gap: 6.125rem;

        li {
          list-style: none;
          cursor: pointer;
          color: #8A959B;
          position: relative;
          transition: 0.5s;

          &::before {
            width: 0%;
            height: 6px;
            content: "";
            position: absolute;
            top: -10px;
            left: 0;
            transition: 0.5s;
            background-color: var(--color-pink);
          }

          &:hover {
            color: var(--color-white);
          }

          &.is-active {
            color: var(--color-white);

            &::before {
              width: 50%;
            }
          }
        }
      }
    }
  }

  .courses-section-content {
    width: 60%;
    display: flex;
    flex-direction: column;

    .categories {
      display: none;
      flex-direction: column;

      h1 {
        font-size: 3.438rem;
        margin: 3rem 0;
      }

      div {
        padding: 2rem 0;
        display: flex;
        align-items: center;
        gap: 2rem;
        position: relative;

        p {
          color: rgba(138, 149, 155, 1);
        }

        &:nth-child(1) {
          font-family: var(--font-pt-sans);
        }

        &:nth-child(2) {
          font-family: 'Gotham HTF', sans-serif;
          font-size: 0.813rem;
        }

        &::before {
          width: 100%;
          height: 1px;
          content: "";
          position: absolute;
          bottom: 5px;
          left: 0;
          transition: 0.5s;
          background-color: var(--color-white);
        }

        &:hover {
          p {
            color: var(--color-pink);
          }

          &::before {
            background-color: var(--color-pink);
          }
        }
      }

      &.visible {
        display: flex;
      }
    }
  }

  .accordion-mobile {
    display: none;
  }
}

// FAQ
.faq-section-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 7rem;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h1 {
        font-size: 4.688rem;
      }

      p {
        font-size: 1.125rem;
        font-weight: 300;
        color: var(--color-pink);
      }
    }
  }

  .faq-section-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;

    .card {
      width: 10rem;
      height: 7.5rem;
      padding: 2rem 0;

      flex: 1 1 calc(33.333% - 2rem);
      display: flex;
      flex-direction: column;
      gap: 1rem;

      position: relative;
      cursor: pointer;

      transition: 0.5s ease-in-out;

      h1 {
        font-size: 1.25rem;
      }

      p {
        font-size: 1rem;
        color: rgba(148, 155, 153, 1);
        opacity: 0;
        transition: 0.5s;
      }

      &::before {
        width: 15%;
        height: 1px;

        position: absolute;
        top: 0;
        left: 0;
        content: ' ';
        transition: 0.2s ease-in-out;
        background-color: rgba(138, 149, 155, 1);
      }

      &:hover {
        transform: translateY(-1%);

        p {
          opacity: 1;
        }

        &::before {
          width: 100%;
          background-color: var(--color-pink);
        }
      }
    }
  }
}

.navbar-container {
  position: fixed;
  top: 50%;
  right: 2rem;
  z-index: 100;
  transform: translate(-50% 0);

  ul {
    padding: .6rem;
    opacity: 0.4;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    a {
      position: relative;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      text-decoration: none;
      display: flex;
      align-items: center;
      background-color: var(--color-white);

      overflow: visible;

      li {
        display: none;
        transform: translateX(-4.3rem);
        color: var(--color-pink);
      }

      &:hover {
        background-color: var(--color-pink);

        li {
          display: flex;
          // background-color: red;
          text-align: end;
        }

        &::before {
          animation: pulse 1.5s infinite;
          border: 2px solid var(--color-pink);
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid var(--color-white);
        transform: translate(-50%, -50%);
      }
    }

    &:hover {
      opacity: 1;
    }

  }
}

// FOOTER
footer {
  padding: 10rem 2rem 2rem 2rem; //top - right - botton - left

  header {
    display: flex;
    justify-content: space-between;
    align-items: start;

    div {
      display: flex;
      flex-direction: column;
      gap: .5rem;

      &:nth-of-type(3) {
        padding-right: 8rem;
      }

      h1 {
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--color-pink);
      }

      p {
        cursor: pointer;
        font-size: .8rem;
        color: #8A959B;
        transition: 0.5s;

        &:hover {
          color: var(--color-white);
        }
      }
    }
  }

  .lets-rock-the-future {
    padding: 5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 6rem;
      font-weight: 600;
      text-align: center;
      background: linear-gradient(90deg, transparent, var(--color-white), transparent);
      background-size: 400%;
      opacity: 0.1;
      letter-spacing: 7px;
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #fff;
      -webkit-background-clip: text;
      background-clip: text;
      animation: animateGradient 10s linear infinite;
    }
  }

  @keyframes animateGradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }


  .footer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 1.2rem;
      font-weight: 700;
    }

    p {
      color: #8A959B;
    }
  }
}

@keyframes move-rtl {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes move-ltr {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(-0%);
  }
}

/* Animação pulsante */
@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0.6;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}


// Estilos para dispositivos móveis com largura máxima de 900px
@media(max-width: 900px) {
  .courses-section-container {
    width: 95%;
    gap: 3rem;
    justify-content: start;

    header {
      div {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h1 {
          font-size: 3.875rem;
        }
      }

      nav {
        display: none;
      }
    }

    .courses-section-content {
      display: none;
    }

    .accordion-mobile {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .accordion-item {
        header {
          display: flex;

          h1 {
            font-size: 1.875rem;
            font-weight: 500;
            letter-spacing: -3%;
            line-height: 30px;
            padding: 2rem 0;
          }

          button {
            width: 50px;
            height: 50px;
            border-radius: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 1.5rem;
            color: white;
            cursor: pointer;

            position: relative;
            transition: background-color 0.3s ease, border-color 0.3s ease;

            &::before,
            &::after {
              width: 50%;
              height: 6px;
              content: '';

              position: absolute;
              transition: transform 0.3s ease;
              background-color: var(--color-pink);
            }

            &::before {
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }

            &::after {
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) rotate(90deg);
            }

            &.minus::before {
              transform: translate(-50%, -50%) rotate(180deg);
              z-index: 1;
              background-color: black;
            }

            &.minus::after {
              transform: translate(-50%, -50%) rotate(270deg);
              background-color: var(--color-pink);
            }

            &.plus {
              background-color: var(--color-black);
              border-color: var(--color-pink);
            }

            &.minus {
              border: 1px solid var(--color-pink);
              background-color: var(--color-pink);
            }
          }
        }

        .accordion-content {
          display: flex;
          flex-direction: column;

          .accordion-description {
            padding: 2rem 0;
            border-top: 1px solid var(--color-white);

            :nth-child(1) {
              color: rgba(138, 149, 155, 1);
            }

            :nth-child(2) {
              font-family: var(--font-pt-sans);
            }
          }
        }
      }
    }
  }

  .faq-section-container {
    width: 95%;
    transition: 0s;
    gap: 4rem;

    header {
      div {
        gap: 2rem;
      }
    }

    .faq-section-content {
      transition: 0s;
      gap: 0rem;

      .card {
        flex: 1 1 calc(100% - 1rem);
        height: 3rem;
        transition: 0;
        transition: 0s ease-in-out;


        p {
          display: none;
        }

        &::before {
          width: 25%;
          height: 1px;

          position: absolute;
          top: 0;
          left: 0;
          content: ' ';
          transition: 0s ease-in-out;
          background-color: rgba(138, 149, 155, 1);
        }

        &:hover {
          height: 7rem;
          transform: translateY(0);

          p {
            display: flex;
          }
        }

        &:nth-of-type(5) {
          margin-bottom: 3.5rem;

        }
      }
    }
  }

  .navbar-container{
    display: none;
  }

  footer {
    padding: 10rem 2rem 2rem 2rem; //top - right - botton - left

    header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      div {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: .5rem;

        &:nth-of-type(3) {
          padding-right: 0;
        }

        h1 {
          font-size: 1.5rem;
          font-weight: 400;
          color: var(--color-pink);
        }

        p {
          cursor: pointer;
          font-size: .8rem;
          color: #8A959B;
          transition: 0.5s;

          &:hover {
            color: var(--color-white);
          }
        }
      }
    }

    .lets-rock-the-future {
      padding: 5rem 1rem;

      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        font-size: 2rem;
        font-weight: 600;

        background: linear-gradient(90deg, transparent, rgb(255, 255, 255), transparent);
        background-size: 400%;
        opacity: 0.5;
        letter-spacing: 7px;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff;
        -webkit-background-clip: text;

        background-clip: text;

        animation: animateGradient 10s linear infinite;

      }
    }

    .footer {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        font-size: 1.2rem;
        font-weight: 700;
      }

      p {}
    }
  }
}