@import url('./assets/fonts/gotham.css');

:root {
  // Estilos
  --header-background: rgba(32, 33, 33, 1);
  --body-background: rgba(0, 0, 0, 1);
  --color-pink: rgba(237, 20, 91, 1);
  --color-white: rgba(255, 255, 255, 1);

  --font-pt-sans: "PT Sans", sans-serif;
}
html{
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}

body {
  
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Gotham HTF', sans-serif;
  font-weight: 500;
  background-color: var(--body-background);
  color: var(--color-white);
  overflow-x: hidden;
  h1 {
    font-weight: 400;
  }
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-track {
  background: lightgrey;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-pink);
  border-radius: 8px;
  border: 4px solid lightgrey;
}